nav{
    background-color:rgb(234, 231, 236);
    text-align: center;
}
.navbar-nav{
    text-align: center;
}
.navbar-brand{
    padding-right: 25%;
}
.nav-item{
    padding: 0 10% 0 10%;
}
/* .background{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 50%;
    object-fit: cover;
    display: flex;
    overflow: hidden;
    position: absolute;
} */
body{
    background: rgb(212,55,55);
    background: linear-gradient(90deg, rgba(212,55,55,0.5) 10%, rgba(237,179,58,0.5) 30%, rgba(162,237,58,0.5) 50%, rgba(58,180,237,0.5) 70%, rgba(152,58,237,0.5) 90%);
    /* background: linear-gradient(30deg, red, orange, yellow, green, blue, indigo, violet); */
    /* opacity: 20%; */
}
#home #searchbar{
    padding: 20% 10% 20% 10%;
    /* text-align: center;
    z-index: 1; */
}
#connect #searchbar{
    padding: 3% 25% 5% 25%;
}
/* .carousel{
    position: absolute;
    display: flex;
    overflow: hidden;
}
.slide{
    height: 100%;
    transition: transform 1s;
}
.carousel img {
    object-fit: cover;
    opacity: 50%;
} */
#explore, #locations, #leaderboard, #connect, #result{
    padding:5% 5% 5% 5%;
    text-align: center;
    h3{
        padding-bottom: 5%;
    }
}
#explore, #locations, #leaderboard {
    .card{
        border:none;
        padding: 5% 2% 5% 2%;
        background: transparent;
    }
    .card-link{
        text-decoration: none;
    }
    .card-title{
        padding-top: 2%;
    }
}
#explore .card img{
    border-radius:  7%;
    border: 2px solid rgb(105, 17, 134);
}
.hidden{
    display: none;
}

#leaderboard{
    text-align: center;
    padding-bottom: 5%;
}
footer{
    padding: 2% 0 2% 0;
    background-color:rgb(234, 231, 236);
    text-align: center;
}
footer .link{
    text-decoration: none;
    color:rgb(64, 9, 83);
}
.pfp{
    border-radius: 50%;
    max-width: 50%;
    align-self: center;
    padding: 2% 2% 2% 2%;
}